@primary: #684CFF;
@primary01: rgba(5, 192, 165, 0.1);

@primaryLabel: #202124;
@secondaryLabel: #5F6368;
@tertiaryLabel: rgba(0, 0, 0, 0.38);
@black: #000000;
@black07: rgba(0, 0, 0, 0.7);
@black007: rgba(0, 0, 0, 0.07);
@black004: rgba(0, 0, 0, 0.04);
@white: #FFFFFF;
@gray01: rgba(95, 99, 104, 0.1);
@gray02: rgba(95, 99, 104, 0.2);
@white07: rgba(255, 255, 255, 0.7);
@error: #F4432C;
@error01: rgba(244, 67, 44, 0.05);
@elevation: rgba(0, 0, 0, 0.87);
@success: #05C0A5;

@darkBg: #DADCE0;
@primaryBg: #FFFFFF;
@secondaryBg: rgba(0, 0, 0, 0.15);
@buttonBg: #F2F4F7;
@hoverItemBg: #F9FAFB;
@lightBg: #F9FAFB;
@tipBg: #FFF7B2;
@overlayBg: rgba(0, 0, 0, 0.3);
@introHeaderBg: #F9FAFB;
@tip: #FFF7B2;
@actionBg: #F9F9FB;

@shadowColor: rgba(0, 0, 0, 0.1);

@default: #C4C4C4;

@networkGradientColor: linear-gradient(180deg, #C549FF 0%, #684CFF 100%);

@defaultGradient: radial-gradient(100% 50% at 100% 50%, rgba(250, 250, 250, 0.92) 0%, rgba(250, 250, 250, 0.98) 100%), @networkGradientColor;

@orange: #FF6D00;
@orange01: rgba(255, 109, 0, 0.1);
