name: Test all workspaces

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22.10.0"
          cache: "yarn"
      - run: yarn install
      - run: yarn build:all
      - run: yarn test
